/* MAIN APP CONTAINER STYLE */
.app-container{
    background-color: var(--body-background);
    height: 100vh;
    display: flex;
    justify-content: center;
}


/* CSS FOR ALL THE ROUTES PAGES */
.main-app-content{
    display: flex;
    width: 100%;
    flex: 0.8;
  }


@media (max-width:768px){
  .main-app-content{
    flex: 0.9;
  }
}

@media (max-width:498px){

  .main-app-content{
    margin-top: 65px;
    flex: 1;
  }
}


/* FOR ALL THE FEEDS / ROUTES*/

.feed-container{
  border-left: 1px solid var(--hover-item);
  border-right: 1px solid var(--hover-item);
  /* min-width: 400px; */
  max-width: 600px;
  height: 100vh;
  /* overflow: scroll; */
  overflow-y: scroll;
  scrollbar-width: none;
  scroll-behavior:smooth;
}

@media (max-width:498px){
    .feed-container{
        height: 92vh;
        padding-bottom: 58px;

    }
}
