.app-container{
    background-color: var(--body-background);
    height: 100vh;
    display: flex;
    justify-content: center;
}

.main-app-content{
    flex: 0.9;
  }

/* @media (max-width:768px){
  .main-app-content{
    flex: 0.5;
  }
} */

  @media (max-width:498px){
  
    .main-app-content{
      margin-top: 65px;
      flex: 1;
    }
  }