.search-container{
    padding: 10px ; 
    width: 85%;
    border: 1px solid var(--normal-text);    
    text-align: center;
    margin: 5px auto;
    border-radius: 45px;
}

.search-container > i{
    color: var(--secondary-text);
}

.search-container > input{
    margin-left: 10px ;
    width: 80%;
    font-size: 18px;
    background: none;
    outline: none;
    border: none;
    color: var(--normal-text);
}