.feed-filter-container{
    display: flex;
    background-color: inherit;
    justify-content: space-evenly;
    /* overflow-x: scroll; */
    /* width: 100%; */
    /* scrollbar-width: none; */
}

.filter-type {
    padding: 10px ;
    cursor: pointer;
    flex: 1;
    padding-bottom: 0px;
    display: flex;
    justify-content: center;

}

.filter-type:hover{
    background-color: var(--hover-item);
}
/* 
.filter-type:hover::after{
    background-color: white;
} */

.filter-type >p{
    margin-bottom: 0px;
    padding-bottom: 10px ;
    font-size: 15px;
    font-weight: 600;
    color: var(--secondary-text);
}


.active-filter > p{
    /* font-size: 15px; */
    color: var(--normal-text);
    font-weight: 800;
    border-bottom: 3px solid var(--highlight);
}