.home-panel{

}

.home-feed-container{
    /* border: 1px solid var(--normal-text); */
    border-left: 1px solid var(--hover-item);
    border-right: 1px solid var(--hover-item);
    max-width: 500px;
    height: 100vh;
    /* overflow: scroll; */
    overflow-y: scroll;
    scrollbar-width: none;
    scroll-behavior:smooth;
}

@media (max-width:498px){
    .home-feed-container{
        height: 92vh;
    }
}

