
/* THEME VARIABLES*/
:root{
  --body-background:#ffffff;
  --normal-text:#0F1419;
  --highlight:#1d9bf0;
  --hover-item:#e7e7e8;
  --border-color:#26252579;
  --secondary-text:#536471;
}

.dark{
  --body-background:#000000;
  --normal-text:#e7e9ea;
  --highlight:#1d9bf0;
  --hover-item:#282727;
  --border-color:#26252579;
  --secondary-text:#a1a1a1;
}

/* SETING THE TWITTER FONT (unofficial) */
@font-face {
  font-family: "twitter";
  src: url("fonts/chirp-bold-web.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}



*{
  font-family: "CustomFont", sans-serif;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

